@keyframes color-change {
    0% {
      background: $color-white;
    }
    100% {
      background: $color-black;
    }
  }
  
  @keyframes title-color {
    0% {
      color: $color-white;
    }
    100% {
      color: $color-primary;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }