html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	/* color: #fff;
	background-image: url(../images/komori.jpg);
	background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    /* height:100%;
	width:100%;  */
	display: flex;
    min-height: 100%;
	flex-direction: column;
	animation: color-change 1.8s;
}

@keyframes color-change {
	0% {
	  background: #000;
	}
	100% {
	  background: #fff;
	}
  }

  #display-area {
	  padding-bottom: 5px;
  }


#portfolio-img {
	width: 200px;
	height: 205px;
	border-radius: 50%;
	margin-top: 10px;
}

#portfolio-img:hover {
	border: 1.4px solid #04E9FC;
	cursor: pointer;
}


hr {
	width: 225px;
	margin-bottom: 20px;
}

.grow { transition: all .4s ease-in-out;}

.grow:hover {
    transform: scale(1.1);
}

.grow:hover {
    font-weight: bold;
    color: #04E9FC;
}

#about, #skills, #projects, #init, #photography {	
	animation: 1.8s fadeIn;
	animation-fill-mode: forwards;
}

.nikon-img img {
	width: 165px;
	height: 185px;
	margin-top: 15px;
}

.nikon-img img:hover {
	border: 1px solid #04E9FC;
}

@keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  visibility: visible;
	  opacity: 1;
	}
  }

  .links {
	  margin-top: 35px;
  }
  
  .links a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1.2px;
	bottom: 0;
	left: 0;
	background-color: #04E9FC;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
  }
  
  .links a:hover::before,
  .links a:active::before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
  }


.links a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	margin-right: 8px;
}


.links a:hover {
	color: #04E9FC;
}

.footer-icons i:hover {
	color: #04E9FC;
}

main {
		padding-top: 25px;
		flex: 1 0 auto;
		padding-bottom: 50px;
}

.main-area {
	text-align: center;
	margin-top: 4.2px;
	font-size: 16px;
}

.technologies i {
	font-size: 72px;
	margin: 6px;
}

.technologies i:hover {
	color: #04E9FC;
}

#projects {
	margin-top: 12px;
}


.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    margin-top: 10px;
	font-size: 18px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.footer-icons i {
	padding-top: 2px;
	color: #fff;
	margin: 4.8px;
	font-size: 21px;
}

.copyright {
	margin-right: 15px;
}

.div-info {
	display: none;
	overflow-y: scroll;
	color: #000;
	height: 360px;
	width: 90%;
	margin: 0 auto;
	padding-bottom: 15px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.photography-desc {
	width: 50%;
	display: inline-block;
	text-align: center;
}

.modal {
	margin-top: 25px;
}

.modal-trigger {
	color: #000;
}

.modal img {
	width: 365px;
	height: 225px;
}


 @media only screen and (max-width: 600px) {
	
	/* html {
		background:url(../images/komori.jpg);
		background-attachment: fixed;
    	background-size: auto 100%;
    	background-position: center;
	} */

 	body {
 		height: 100%;
 		font-size: 18px;
	 }
	 
	 .links a {
		 margin-top: 10px;
	 }

	 .nikon-img img {
		 width: 100px;
		 height: 90px;
	 }

	 .modal {
		width: 70%;
		height: 50%;
	 }

	 .modal img {
		 width: 200px;
		 height: 150px;
	 }
 }