html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  animation: color-change 1.8s;
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}


@keyframes color-change {
  0% {
    background: #fff;
  }
  100% {
    background: #000;
  }
}

@keyframes title-color {
  0% {
    color: #fff;
  }
  100% {
    color: #04e9fc;
  }
}

nav {
  border-bottom: 2px solid #04e9fc;
}

.about-logo img {
  width: 60px;
  height: 60px;
  margin-top: 25px;
  margin-left: 15px;
  padding-bottom: 5px;
}

#display-area {
  padding-bottom: 5px;
  height: 100%;
}

#portfolio-img {
  width: 215px;
  height: 205px;
  border-radius: 50%;
  margin-top: 10px;
}

#portfolio-img:hover {
  border: 2.1px solid #04e9fc;
  cursor: pointer;
}

.title {
  color: #fff;
  font-family: 'Permanent Marker', cursive;
}

.title a {
  text-decoration: none;
  color:#fff;
}

.title a:hover {
  animation: title-color 1s;
}

hr {
  width: 225px;
  margin-bottom: 20px;
}

.grow {
  transition: all 0.4s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.grow:hover {
  font-weight: bold;
  color: #04e9fc;
}

#about,
#skills,
#projects,
#init,
#photography {
  animation: 1.8s fadeIn;
  animation-fill-mode: forwards;
}

.nikon-img img {
  width: 165px;
  height: 185px;
  margin-top: 15px;
}

.nikon-img img:hover {
  border: 1px solid #04e9fc;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.links {
  margin-top: 45px;
}

.links a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.2px;
  bottom: 0;
  left: 0;
  background-color: #04e9fc;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.links a:hover::before,
.links a:active::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.links a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-right: 8px;
}

.links a:hover {
  color: #04e9fc;
}

.footer-icons i:hover {
  color: #04e9fc;
}

main {
  padding-top: 25px;
  flex: 1 0 auto;
  padding-bottom: 45px;
}

.main-area {
  text-align: center;
  margin-top: 4.2px;
  font-size: 16px;
}

.technologies i {
  font-size: 72px;
  margin: 6px;
}

.technologies i:hover {
  color: #04e9fc;
}

#projects {
  margin-top: 12px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  margin-top: 10px;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 2px solid #04e9fc;
}

.footer-icons i {
  padding-top: 2px;
  color: #fff;
  margin: 4.8px;
  font-size: 21px;
}

.copyright {
  margin-right: 15px;
}

.div-info {
  display: none;
  overflow-y: scroll;
  color: #000;
  height: 375px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 15px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.photography-desc {
  width: 50%;
  display: inline-block;
  text-align: center;
}

.modal {
  margin-top: 25px;
}

.modal-trigger {
  color: #000;
}

.modal img {
  width: 365px;
  height: 225px;
}

@media only screen and (max-width: 768px) {
  .links a {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    height: 100%;
    font-size: 18px;
  }

  main {
    padding-top: 0;
  }

  .card {
    margin: 20px 20px;
  }

  .links {
    margin: 0;
    padding: 0;
  }

  .links a {
    margin-top: 8px;
  }

  .nikon-img img {
    width: 75px;
    height: 85px;
    padding-right: 15px;
  }

  .modal {
    width: 80%;
    height: 80%;
  }

  .footer,
  .footer i {
    font-size: 14px;
  }
}

@media only screen and (max-width: 320px) {
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
