@keyframes color-change {
  0% {
    background: #fff; }
  100% {
    background: #000; } }

@keyframes title-color {
  0% {
    color: #fff; }
  100% {
    color: #04e9fc; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    visibility: visible;
    opacity: 1; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%;
  font-size: 62.5%; }

body {
  display: flex;
  height: 100%;
  flex-direction: column;
  animation: color-change 1.4s;
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

hr {
  width: 22.5rem;
  margin: 0 auto;
  margin-bottom: 2.5rem; }

#site-title {
  opacity: 0;
  transition: opacity 1s linear; }

#skills,
#about,
#projects {
  background-color: #000;
  color: #fff; }

.card {
  border: 2px solid #04e9fc;
  border-radius: 1rem; }

#about,
#skills,
#projects,
#init,
#contact,
#location {
  animation: 1.8s fadeIn;
  animation-fill-mode: forwards; }

.btn-small i {
  font-size: 2rem; }

.technologies i {
  font-size: 7.2rem;
  margin: 0.6rem; }

.skills-logo {
  width: 22rem;
  height: 11.5rem;
  margin-bottom: 1rem; }

.technologies i:hover {
  color: #04e9fc; }

#projects {
  margin-top: 1.2rem; }

.modal {
  color: #000;
  padding: 10px; }

.modal-trigger {
  cursor: pointer; }

.div-info {
  display: none;
  overflow-y: scroll;
  color: #000;
  height: 37.5rem;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1.5rem; }

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.7rem; }

::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }

form {
  margin-bottom: 2.5rem; }

#map {
  width: 100%;
  height: 45rem; }

input[type="text"] + label {
  pointer-events: none; }
  input[type="text"] + label * {
    pointer-events: all; }

.contact-icon {
  margin-right: 1.2rem; }

@font-face {
  font-family: "Open Sans";
  src: url(../../fonts/OpenSans-Regular.ttf) format("ttf"); }

@font-face {
  font-family: "Permanent Marker";
  src: url(../../fonts/PermanentMarker-Regular.ttf); }

body {
  font-family: 'Open Sans', sans-serif; }

.style-font {
  font-family: 'Permanent Marker', cursive; }

.grow {
  transition: all 0.4s ease-in-out; }
  .grow:hover {
    transform: scale(1.1);
    font-weight: bold;
    color: #04e9fc; }

.fixed-action-btn {
  bottom: 6.5rem; }

.about-logo img {
  width: 6rem;
  height: 6rem;
  margin-top: 2.5rem;
  margin-left: 1.5rem;
  padding-bottom: 0.5rem; }

.portfolio-img {
  width: 21.5rem;
  height: 20.5rem;
  border-radius: 50%;
  margin-top: 1rem; }
  .portfolio-img:hover {
    border: 0.21rem solid #04e9fc;
    cursor: pointer; }

.title {
  color: #fff;
  font-size: 6rem; }
  .title a {
    text-decoration: none;
    color: #fff; }
  .title a:hover {
    animation: title-color 1s;
    animation-fill-mode: forwards; }

.links {
  margin-top: 4.5rem; }
  .links a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.12rem;
    bottom: 0;
    left: 0;
    background-color: #04e9fc;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }
  .links a:hover::before,
  .links a:active::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  .links a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-right: 0.8rem; }
  .links a:hover {
    color: #04e9fc; }

.main {
  padding-top: 1rem;
  flex: 1 0 auto;
  padding-bottom: 4.5rem; }
  .main__area {
    text-align: center;
    margin-top: 0.42rem;
    font-size: 1.6rem; }
    .main__area--display {
      padding-bottom: 0.5rem;
      height: 100%; }

nav {
  border-bottom: 2px solid #04e9fc; }
  nav .brand-logo {
    margin-left: 2rem; }

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  margin-top: 1rem;
  font-size: 1.8rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-top: 0.2rem solid #04e9fc; }
  .footer-icons i {
    padding-top: 0.2rem;
    color: #fff;
    margin: 0.48rem;
    font-size: 2.1rem; }
    .footer-icons i:hover {
      color: #04e9fc; }
  .footer__copyright {
    margin-right: 1.5rem; }

@media only screen and (max-width: 768px) {
  .links a {
    margin-top: 1.5rem; } }

@media only screen and (max-width: 600px) {
  body {
    height: 100%;
    font-size: 1.8rem; }
  main {
    padding-top: 0; }
  .card {
    margin: 2rem 2rem; }
  .links {
    margin: 0;
    padding: 0; }
  .links a {
    margin-top: 0.8rem; }
  .footer,
  .footer i {
    font-size: 1.15em; } }

@media only screen and (max-width: 320px) {
  .links {
    display: flex;
    flex-direction: column;
    align-items: center; } }
