html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	color: #fff;
	background-image: url(../images/komori.jpg);
	background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    width:100%; 
	display: flex;
    min-height: 100vh;
	flex-direction: column;
	animation: color-change 3s;
}

@keyframes color-change {
	0% {
	  background: #fff;
	}
	100% {
	  background: #000;
	}
  }


#portfolio-img {
	width: 190px;
	height: 200px;
	border-radius: 50%;
}

hr {
	width: 100px;
	margin-bottom: 18px;
}

nav {
	height: 40px;
}

.grow { transition: all .4s ease-in-out;}

.grow:hover {
    transform: scale(1.1);
}

.grow:hover {
    font-weight: bold;
    color: #0d47a1;
}

#about, #skills, #projects {	
	animation: 1.2s fadeIn;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  visibility: visible;
	  opacity: 1;
	}
  }



.links a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	margin-right: 8px;
}


.links a:hover {
	color: #04E9FC;
}

.footer-icons i:hover {
	color: #04E9FC;
}

main {
		flex: 1 0 auto;
		overflow: auto;
		padding-bottom: 100px;
}

.main-area {
	text-align: center;
	margin-top: 4.2px;
	font-size: 16px;
}

.technologies i {
	font-size: 72px;
	margin: 6px;
}

.technologies i:hover {
	color: #04E9FC;
}

#projects {
	margin-top: 12px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    margin-top: 10px;
	font-size: 18px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.footer-icons i {
	padding-top: 2px;
	color: #fff;
	margin: 4.8px;
	font-size: 21px;
}

.copyright {
	margin-right: 15px;
}



.div-info {
  display: none;
}


 @media only screen and (max-width: 600px) {
	
	html {
		background:url(../images/komori.jpg);
		background-size: cover;
	}

 	body {
 		height: 100vh;
 		font-size: 18px;
	 }
	 
	 .links a {
		 margin-top: 10px;
	 }

 }